@use "sass:math";

$rotating-squares-rect-stroke-width: 2;
$rotating-squares-rect-speed: 8s;
$rotating-squares-inner-rect-speed: $rotating-squares-rect-speed * 0.8;

$rotating-squares-outer-box-width: 50;
$rotating-squares-inner-box-width: 16;
$rotating-squares-box-gutter: 5;
$rotating-squares-box-stroke-width: 2;
$rotating-squares-top-left-box-x: $rotating-squares-box-stroke-width +
  $rotating-squares-box-gutter;
$rotating-squares-top-left-box-y: $rotating-squares-box-stroke-width +
  $rotating-squares-box-gutter;
$rotating-squares-top-right-box-x: $rotating-squares-top-left-box-x +
  $rotating-squares-inner-box-width + $rotating-squares-box-gutter;
$rotating-squares-top-right-box-y: $rotating-squares-top-left-box-y;
$rotating-squares-bottom-right-box-x: $rotating-squares-top-right-box-x;
$rotating-squares-bottom-right-box-y: $rotating-squares-top-left-box-y +
  $rotating-squares-inner-box-width + $rotating-squares-box-gutter;
$rotating-squares-bottom-left-box-x: $rotating-squares-top-left-box-x;
$rotating-squares-bottom-left-box-y: $rotating-squares-bottom-right-box-y;

.rotating-squares {
  animation: b1 $rotating-squares-rect-speed ease-in-out infinite;

  rect {
    fill: none;
    stroke-width: $rotating-squares-rect-stroke-width;
    stroke: black;
  }

  rect:nth-child(n + 2) {
    stroke-width: math.div($rotating-squares-rect-stroke-width, 2);
  }

  rect:nth-child(2) {
    animation: b2 $rotating-squares-inner-rect-speed ease-out infinite;
  }

  rect:nth-child(3) {
    animation: b3 $rotating-squares-inner-rect-speed ease-out infinite;
  }

  rect:nth-child(4) {
    animation: b4 $rotating-squares-inner-rect-speed ease-out infinite;
  }

  rect:nth-child(5) {
    animation: b5 $rotating-squares-inner-rect-speed ease-out infinite;
  }
}

.light {
  .rotating-squares {
    rect {
      stroke: theme-color("light", "foreground");
    }
  }
}

.dark {
  .rotating-squares {
    rect {
      stroke: theme-color("dark", "foreground");
    }
  }
}

@keyframes b1 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes b2 {
  0% {
    x: $rotating-squares-top-left-box-x;
    y: $rotating-squares-top-left-box-y;
  }
  8.33% {
    x: $rotating-squares-top-right-box-x;
    y: $rotating-squares-top-right-box-y;
  }
  16.66% {
    x: $rotating-squares-bottom-right-box-x;
    y: $rotating-squares-bottom-right-box-y;
  }
  24.99%,
  58.31% {
    x: $rotating-squares-bottom-left-box-x;
    y: $rotating-squares-bottom-left-box-y;
  }
  66.64% {
    x: $rotating-squares-top-left-box-x;
    y: $rotating-squares-top-left-box-y;
  }
}

@keyframes b3 {
  0%,
  24.99% {
    x: $rotating-squares-top-right-box-x;
    y: $rotating-squares-top-right-box-y;
  }
  33.32% {
    x: $rotating-squares-bottom-right-box-x;
    y: $rotating-squares-bottom-right-box-y;
  }
  41.65%,
  58.31% {
    x: $rotating-squares-bottom-left-box-x;
    y: $rotating-squares-bottom-left-box-y;
  }
  66.64% {
    x: $rotating-squares-top-left-box-x;
    y: $rotating-squares-top-left-box-y;
  }
  74.97% {
    x: $rotating-squares-top-right-box-x;
    y: $rotating-squares-top-right-box-y;
  }
}

@keyframes b4 {
  0%,
  41.65% {
    x: $rotating-squares-bottom-right-box-x;
    y: $rotating-squares-bottom-right-box-y;
  }
  49.98%,
  58.31% {
    x: $rotating-squares-bottom-left-box-x;
    y: $rotating-squares-bottom-left-box-y;
  }
  66.64% {
    x: $rotating-squares-top-left-box-x;
    y: $rotating-squares-top-left-box-y;
  }
  74.97% {
    x: $rotating-squares-top-right-box-x;
    y: $rotating-squares-top-right-box-y;
  }
  83.3% {
    x: $rotating-squares-bottom-right-box-x;
    y: $rotating-squares-bottom-right-box-y;
  }
}
@keyframes b5 {
  0%,
  58.31% {
    x: $rotating-squares-bottom-left-box-x;
    y: $rotating-squares-bottom-left-box-y;
  }
  66.64% {
    x: $rotating-squares-top-left-box-x;
    y: $rotating-squares-top-left-box-y;
  }
  74.97% {
    x: $rotating-squares-top-right-box-x;
    y: $rotating-squares-top-right-box-y;
  }
  83.3% {
    x: $rotating-squares-bottom-right-box-x;
    y: $rotating-squares-bottom-right-box-y;
  }
  91.63% {
    x: $rotating-squares-bottom-left-box-x;
    y: $rotating-squares-bottom-left-box-y;
  }
}
