@use "sass:color";

$theme-switch-fill-color: color.adjust(
  theme-color("dark", "foreground"),
  $lightness: -30%
);
$theme-switch-icon-size: 2.5rem;

.theme-switch {
  display: flex;
  flex: 0 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 1rem;
  margin-left: 0;
  margin-right: auto;

  &:hover {
    background-color: color.adjust(
      theme-color("light", "primary"),
      $lightness: -10%,
      $alpha: -0.3
    );
  }

  @media screen and (min-width: $breakpoint-desktop) {
    margin-right: 0;
    margin-left: auto;
  }

  div {
    // this makes it only usable on navbar
    // whose height is enough to accommodate it
    width: $theme-switch-icon-size;
    height: $theme-switch-icon-size;

    svg {
      path,
      circle {
        transition: all 0.3s linear;
        fill: $theme-switch-fill-color;
      }
    }
  }

  &:hover {
    svg {
      path,
      circle {
        fill: color.adjust($theme-switch-fill-color, $lightness: 100%);
      }
    }
  }
}
