@use "sass:color";

.topbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: $navbar-height;
  width: 100%;
  top: 0;
  z-index: $navbar-z-index;

  box-shadow: 0px 2px 7px 2px
    color.adjust(theme-color("light", "foreground"), $alpha: -0.7);
}

.light {
  .topbar {
    background-color: theme-color("light", "primary");
  }
}

.dark {
  .topbar {
    background-color: theme-color("dark", "primary");
  }
}
