/* ls stands for loading squares */
:root {
  --ls-speed: 4s;
  --ls-func: ease-in-out;
  --ls-width: 20px;
  --ls-gutter: 7px;
  --ls-border-width: 1px;
  --ls-left: var(--ls-gutter);
  --ls-right: calc(2 * var(--ls-gutter) + var(--ls-width));
  --ls-top: var(--ls-gutter);
  --ls-bottom: calc(2 * var(--ls-gutter) + var(--ls-width));
}

@keyframes w {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.w {
  width: calc(
    2 * var(--ls-width) + 3 * var(--ls-gutter) + 2 * var(--ls-border-width)
  );
  height: calc(
    2 * var(--ls-width) + 3 * var(--ls-gutter) + 2 * var(--ls-border-width)
  );
  border: var(--ls-border-width) solid white;

  margin-top: var(--ls-width);
  margin-left: var(--ls-width);
  position: relative;
  /* transform: rotate(45deg); */
  animation: w calc(var(--ls-speed) * 1.7) var(--ls-func) infinite;
}

.b {
  width: var(--ls-width);
  height: var(--ls-width);
  position: absolute;
  left: var(--ls-left);
  top: var(--ls-top);
  border: var(--ls-border-width) solid white;
  background: white;
}

@keyframes b1 {
  0% {
    left: var(--ls-left);
    top: var(--ls-top);
  }
  10%,
  55% {
    left: var(--ls-right);
    top: var(--ls-top);
  }
  65% {
    left: var(--ls-right);
    top: var(--ls-bottom);
  }
  75% {
    left: var(--ls-left);
    top: var(--ls-bottom);
  }
  85%,
  100% {
    left: var(--ls-left);
    top: var(--ls-top);
  }
}

.b1 {
  /* border: 1px solid red; */
  /* left: var(--ls-left); */
  /* top: var(--ls-top); */
  animation: b1 var(--ls-speed) var(--ls-func) infinite;
}

@keyframes b2 {
  0% {
    left: var(--ls-left);
    top: var(--ls-top);
  }
  10% {
    left: var(--ls-right);
    top: var(--ls-top);
  }
  20%,
  65% {
    left: var(--ls-right);
    top: var(--ls-bottom);
  }
  75% {
    left: var(--ls-left);
    top: var(--ls-bottom);
  }
  85%,
  100% {
    left: var(--ls-left);
    top: var(--ls-top);
  }
}

.b2 {
  /* border: 1px solid green; */
  /* left: var(--ls-right); */
  /* top: var(--ls-top); */
  animation: b2 var(--ls-speed) var(--ls-func) infinite;
}

@keyframes b3 {
  0% {
    left: var(--ls-left);
    top: var(--ls-top);
  }
  10% {
    left: var(--ls-right);
    top: var(--ls-top);
  }
  20% {
    left: var(--ls-right);
    top: var(--ls-bottom);
  }
  30%,
  75% {
    left: var(--ls-left);
    top: var(--ls-bottom);
  }
  85%,
  100% {
    left: var(--ls-left);
    top: var(--ls-top);
  }
}

.b3 {
  /* border: 1px solid orange; */
  /* left: var(--ls-left); */
  /* top: var(--ls-bottom); */
  animation: b3 var(--ls-speed) var(--ls-func) infinite;
}

@keyframes b4 {
  0% {
    left: var(--ls-left);
    top: var(--ls-top);
  }
  10% {
    left: var(--ls-right);
    top: var(--ls-top);
  }
  20% {
    left: var(--ls-right);
    top: var(--ls-bottom);
  }
  30% {
    left: var(--ls-left);
    top: var(--ls-bottom);
  }
  40%,
  100% {
    left: var(--ls-left);
    top: var(--ls-top);
  }
}

.b4 {
  /* border: 1px solid blueviolet; */
  /* left: var(--ls-right); */
  /* top: var(--ls-bottom); */
  animation: b4 var(--ls-speed) var(--ls-func) infinite;
}
