@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "JetBrains Mono", monospace;
  @apply bg-black text-white overflow-y-auto overflow-x-hidden;
}

body {
  min-height: 100vh;
}
