:root {
  --dots-speed: 2.5s;
}

.cs {
  @apply flex h-screen w-full justify-center items-center text-2xl;
}

.csd {
  @apply flex flex-row ml-2;
}

@keyframes d1 {
  0%,
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
  }
}

.d1 {
  opacity: 0;
  animation: d1 var(--dots-speed) linear infinite;
}

@keyframes d2 {
  0%,
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
  }
}

.d2 {
  opacity: 0;
  animation: d2 var(--dots-speed) linear infinite;
}

@keyframes d3 {
  0%,
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
  }
}

.d3 {
  opacity: 0;
  animation: d3 var(--dots-speed) linear infinite;
}
